@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fab1a0;
  box-sizing: inherit;
  font-family: "poppins", sans-serif;
  height: 100vh;
}

.container {
  height: 100%;
  padding: 10%;
  text-align: center;
}

.container img {
  position: relative;
  top: 0;
  width: 100%;
  margin-top: 5vh;
}

.nav-bar {
  position: fixed;
  z-index: 10;
}

.container .menu {
  font-size: 32px;
  opacity: 0;
}

.container h1,
.container p .container span {
  text-align: center;
  color: #313942;
  opacity: 0;
  margin-top: 5vh;
}

.couple {
  position: absolute;
  top: 300%;
  opacity: 1;
}

.wedding {
  opacity: 0;
}
