body {
  background-image: url("https://images.unsplash.com/photo-1627283224609-2879145a4e4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=916&q=80");
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #ffffff;
  height: 100%;
  width: 100vh;
  margin: 0;
}

#main {
  margin-left: 30px;
}

header {
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 54px;
  margin-top: 50px;
  color: #d76542;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

#main-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: calc(100vh - 200px);
  width: calc(100vw - 60px);
}

.container {
  width: calc(100vw - 60px);
  height: 255px;
  left: 25px;
  top: 230px;
  background: linear-gradient(
    120.37deg,
    rgba(239, 239, 239, 0.6) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border: 1px solid #efefef;
  box-sizing: border-box;
  backdrop-filter: blur(60px);
  border-radius: 25px;
}

.container:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.one {
  width: 150px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.two {
  width: 150px;
  font-size: 70px;
  text-align: center;
  background: linear-gradient(
    180deg,
    #358796 0%,
    rgba(255, 255, 255, 0) 398.15%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.third {
  width: 150px;
  font-size: 15px;
  text-align: center;
}

.icon {
  display: block;
  width: calc(100vw - 60px);
  text-align: center;
}

@media all and (max-width: 375px) {
  .container {
    height: 200px;
  }
}
